# Obsidian local workspace state
.obsidian/workspace
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/plugins/wechat-obsync/data.json

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
